body {
  margin-top: 100px;
  color: white;
  font-weight: 600;
}

.jumbotron{
background-color: rgba(155, 153, 153, .4);
text-shadow: 2px 3px black;
padding: 60px;
text-align: center;
}

.data {
  display: flex;
  background-color: rgba(155, 153, 153, .4);
  height: 250px;
  width: auto;
  line-height: 40px;
  text-shadow: 2px 3px black;
  font-size: 1rem;
}

.resourceInfo {
  display: flex;
  background-color: rgba(155, 153, 153, .4);
  height: 250px;
  width: auto;
  line-height: 40px;
  text-shadow: 2px 3px black;
  font-size: 1rem;
}

#projectInsight{
  float:left;
  margin: 10px;
}
#projectWeather {
  float: left;
  margin: 10px;
}

#mars {
  float: left;
  margin: 10px;
}

#earth {
  float: left;
  margin: 10px;
}

#comparison {
  float: left;
  margin: 10px;
}
